In [1]:
import time
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from time import sleep

In [2]:
db = pd.read_csv('base_de_datos.csv', dtype={'Sorteos': "string"}, parse_dates=['Dates'])

In [3]:
# numbers = pd.DataFrame(columns=[number for number in range(51)]).astype("int64")
# numbers = numbers.rename(columns={0: 'Sorteos'})
# df_clean = {'Sorteos': "string"}
# numbers = numbers.astype(df_clean)

In [4]:
winners = db.iloc[:, 2:7]

In [5]:
# rows = db[db['Nro1'] == 1]
# print(rows)

In [6]:
# increase variable "i" to iterate over numbers, out of a list

In [7]:
# draws = draws.iloc[:, 0]

In [8]:
for e in range(1,6):
    for i in range(1,51):
        winners.loc[winners[f"Nro{e}"] == i, f"{i}"] = True

In [9]:
winners.drop(columns = ["Nro1","Nro2","Nro3","Nro4","Nro5"], inplace = True)

In [10]:
winners

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,True
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,True,NaN,NaN,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,True,True,NaN,NaN
1594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN
1595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# for columns in winners:
#     if winners.loc[winners['1']:-1] == True:
#         winners.isna().sum()

In [55]:
contador = 0
ultimo_sorteo = {}
for columns in winners:
    for i in reversed(winners[columns]):
        if i is not True:
            contador += 1
        else:
            ultimo_sorteo.update({columns:contador})
            contador = 0
            break
    ala = pd.concat([winners, pd.DataFrame(ultimo_sorteo.keys(), columns = winners.columns)])
sorted(ultimo_sorteo.items(), key=lambda x: x[1])

[('4', 0),
 ('13', 0),
 ('25', 0),
 ('33', 0),
 ('37', 0),
 ('11', 1),
 ('34', 1),
 ('40', 1),
 ('42', 1),
 ('16', 2),
 ('31', 2),
 ('35', 2),
 ('44', 2),
 ('45', 2),
 ('20', 3),
 ('21', 3),
 ('29', 3),
 ('46', 3),
 ('17', 4),
 ('47', 4),
 ('48', 4),
 ('19', 5),
 ('43', 5),
 ('23', 6),
 ('26', 6),
 ('1', 7),
 ('27', 7),
 ('2', 8),
 ('15', 8),
 ('3', 9),
 ('9', 9),
 ('12', 9),
 ('30', 9),
 ('8', 10),
 ('50', 10),
 ('39', 12),
 ('24', 13),
 ('38', 13),
 ('22', 15),
 ('41', 16),
 ('5', 19),
 ('32', 19),
 ('14', 22),
 ('28', 22),
 ('7', 23),
 ('10', 24),
 ('18', 29),
 ('36', 34),
 ('49', 34),
 ('6', 39)]

In [29]:
values = list(set(val for dic in [ultimo_sorteo] for val in dic.values()))

In [13]:
values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 19, 22, 23, 24, 29, 34, 39]

In [15]:
patata = pd.DataFrame(columns = [i for i in range(1, 6)], index = values)

In [17]:
# patata

In [60]:
ala = pd.DataFrame(ultimo_sorteo, ignore_index = True)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'ignore_index'

In [59]:
ala

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
0,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
1,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
2,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
3,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
4,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
5,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
6,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
7,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
8,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
9,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
10,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
12,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
13,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
15,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
16,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
19,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
22,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
23,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
24,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
29,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
34,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10
39,7,8,9,0,19,39,23,10,9,24,...,16,1,5,2,2,3,4,4,34,10