In [1]:
# Libraries
import sys
sys.path.append('C:\Proyectos\Loteria\DataBase')
sys.path.append('C:\Proyectos\Loteria\DataAnalysis')
import datetime
import pandas as pd
import numpy as np
from scrapping import euro_scraping
from numbers_analisys import analisys
from clean_database import structure
# from collections import Counter
# from decimal import Decimal, ROUND_HALF_UP, getcontext
from itertools import combinations
# getcontext().prec = 5
# np.set_printoptions(precision=5)

In [5]:
db = pd.read_parquet('C:\Proyectos\Loteria\DataBase\db.parquet')
db_resultados = pd.read_parquet('C:\Proyectos\Loteria\DataBase\db.parquet')

In [3]:
db_resultados = db_resultados.rename(columns={'Sorteos': 'Sorteo'})

In [6]:
db_resultados

,Dates,Sorteos,Nro1,Nro2,Nro3,Nro4,Nro5,Star_1,Star_2
0,2004-02-13 00:00:00,1,16,29,32,36,41,7,9
1,2004-02-20 00:00:00,2,7,13,39,47,50,2,5
2,2004-02-27 00:00:00,3,14,18,19,31,37,4,5
3,2004-03-05 00:00:00,4,4,7,33,37,39,1,5
4,2004-03-12 00:00:00,5,15,24,28,44,47,4,5
...,...,...,...,...,...,...,...,...,...
1619,2023-03-31 01:00:00,1620,16,18,28,34,47,5,10
1620,2023-04-04 01:00:00,1621,10,16,31,33,50,3,8
1621,2023-04-07 01:00:00,1622,5,26,28,36,46,6,12
1622,2023-04-11 01:00:00,1623,10,14,16,19,29,2,10
1623,2023-04-14 01:00:00,1624,4,11,37,44,49,6,7

In [ ]:
new_draw = range(14,25)
comprobations = []

for draw in new_draw:
    

# db_resultados = pd.concat([db_resultados, db.loc[draw].to_frame().T], axis=0)

In [ ]:
recommended_numbers, not_recommended_numbers = analisys(db_resultados)

In [ ]:
recommended_numbers

In [ ]:
not_recommended_numbers